/*------------------------------------*\
    #HEADINGS
\*------------------------------------*/
h1, h2, h3, h4 {
	font-family: 'Barlow Semi Condensed', sans-serif;
}

h1 {
	font-size: 3rem;
	line-height: 1;
	font-weight: 800;
	font-style: italic;
	margin: 0 0 2rem;
	color: var(--darkGreen);
	text-transform: uppercase;
}

h2 {
	font-size: 2.4rem;
	line-height: 1.2;
	font-weight: 700;
	margin: 0 0 1rem;
	color: var(--darkGreen);
	text-transform: uppercase;
}

h3 {
	font-size: 1.8rem;
	font-weight: 700;
	color: var(--orange);
}

h4 {
	font-size: 1.4rem;
	font-weight: 700;
}