/*------------------------------------*\
    #FORM
\*------------------------------------*/
label {
	display: block;
	font-weight: bold;
	margin: 0 0 0.5rem;
}

input[type=text],
input[type=email],
input[type=number],
textarea {
	width: 100%;
	padding: 0.6rem;
	border: 1px solid var(--borderGray);
	border-radius: 0.6rem;
}

input[type=submit],
button {
	margin-bottom: 1rem;
	padding: 1rem 1.5rem;
	border-radius: 2rem;
	background-color: var(--pink);
	color: #fff;
	font-weight: bolder;
	text-transform: uppercase;
	letter-spacing: 1px;
}

fieldset {
	width: 100%;
	display: flex;
	gap: 1rem;
	border: none;
	padding: 0;
	margin: 0;
	legend {
		font-weight: bold;
		flex: 0 0 100%;
		margin: 0 0 0.5rem;
	}
	label {
		font-weight: normal;
		font-size: 0.9rem;
		margin-bottom: 0.1rem;
	}
	> div {
		flex: 1;
	}
}

.form-field {
	margin: 0 0 2rem;
}