.profile-form-wrapper {
	margin: 2rem auto;
    width: 40rem;
    max-width: 96%;

	// input[type=text],
	// input[type=email],
	// input[type=number],
	// textarea {
	// 	background-color: #fff;
	// 	color: var(--navy);
	// }
}