/*------------------------------------*\
    #FORM CONTAINER
\*------------------------------------*/
.form-container {
	padding: 1rem;
	border: 2px solid var(--orange);
	border-radius: 0.25rem;
	box-shadow: 2px 2px 0 var(--orange);
	background: #fff0e4;
	input[type=text],
	input[type=email],
	input[type=password] {
		background-color: #fff;
	}
	@media screen and (min-width:800px) {
		padding: 1rem 2rem;
	}
}