:root {
  --green: #84d45c;
  --brown: #3e3d3d;
  --pink: #A61F3A;
  --lightPink: #C73E59;
  --cream: #FFD7BE;
  --lightGreen: #C8F2B4;
}

html {
  font-size: 18px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 1rem;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--pink);
}